.container {
  display: grid;
  grid-template-columns: repeat(1);
  grid-auto-rows: (768px, auto);
}
#section1 {
  grid-row: 1;
  align-content: stretch;

  min-height: 768px;
  background-repeat: no-repeat;
  background-color: aqua;
  background-size: cover;
  /* background-image: url("../../pics/pic17.jpg"); */
}
#section1 ::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

#section2 {
  grid-row: 2;
  height: 768px;
  background-repeat: no-repeat;
  background-color: #00e5e5;
}

#section3 {
  grid-row: 3;
  grid-auto-rows: minmax(384px, auto);
  height: 384px;
  background-repeat: no-repeat;
  background-color: #00cece;
}

#section4 {
  grid-row: 4;
  grid-auto-rows: minmax(384px, auto);
  height: 384px;
  background-repeat: no-repeat;
  background-color: #00B9B9;
}

#heroTitle {
  position: absolute;
  transition: all 0.6s cubic-bezier(0, 0.105, 0.035, 1.57);
  transform: translate(-50%, -50%);
  top: 33%;
  left: 50%;
}
.up-icon {
  position: fixed;
  z-index: 9;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
  left: 90%;
  top: 80%;
  border: none;
  padding: 0;
  margin: 0;
}
.up-icon svg {
  width: 50%;
  height: 50%;
}
@media screen and (max-width: 560px) {
  #heroTitle {
    top: 45%;
  }
}