#scroll-to-top {
  position: fixed;
  top: 90%;
  left: 90%;
  transition-timing-function: 0.35s ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 1, 1);
}
.up-icon {
  z-index: 9;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
  border: none;
  padding: 0;
  margin: 0;
}
.up-icon svg {
  width: 50%;
  height: 50%;
}
@media screen and (max-width: 560px) {
  .up-icon {
    left: 50%;
    top: 87%;
  }
  #scroll-to-top {
    position: fixed;
    top: 87%;
    left: 75%;
  }
}
